<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" " http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studyveloper.overtheflow.mapper.CategoryMapper">
	<resultMap id="categoryVO" type="categoryVO">
		<result property="id" column="category_id"/>
		<result property="name" column="category_name"/>
		<result property="superId" column="category_super_id"/>
		<result property="memberId" column="member_id"/>
	</resultMap>
	
	<insert id="addCategory" parameterType="categoryVO">
		INSERT INTO 
			category
		VALUES
			(#{id}, #{name}, #{superId}, #{memberId})
	</insert>
	
	<update id="modifyCategory" parameterType="categoryVO">
		UPDATE
			category
		SET
			category_name = #{name},
			category_super_id = #{superId},
			member_id = #{memberId}
		WHERE
			category_id = #{id}
	</update>
	
	<delete id="deleteAllCategory">
		DELETE FROM
			category
	</delete>
	
	<delete id="deleteCategory" parameterType="java.lang.String">
		DELETE FROM
			category
		WHERE
			category_id = #{id}
	</delete>
	
	<select id="searchCategoryByCategoryId" parameterType="java.lang.String" resultMap="categoryVO">
		SELECT * FROM
			category
		WHERE
			category_id = #{id}
	</select>
</mapper>