<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyveloper.overtheflow.mapper.MemberLikesPlaylistMapper">
	<insert id="likesPlaylist" parameterType="memberLikesPlaylistVO">
		INSERT INTO member_likes_playlist (member_id, playlist_id)
		VALUES (#{memberId}, #{playlistId})
	</insert>
	
	<delete id="noLikesPlaylist" parameterType="memberLikesPlaylistVO">
		DELETE FROM member_likes_playlist
		WHERE member_id = #{memberId} AND playlist_id = #{playlistId}
	</delete>
	
	<select id="searchPlaylistsByMemberId" parameterType="map" resultType="String">
		SELECT playlist_id FROM member_likes_playlist
		WHERE member_id = #{memberId}
		<if test="pageNumber != null">
			<if test="perPageCount != null">
				LIMIT #{pageNumber}, #{perPageCount}
			</if>
		</if>
	</select>
	
	<select id="searchMembersByPlaylistId" parameterType="map" resultType="String">
		SELECT member_id FROM member_likes_playlist
		WHERE playlist_id = #{playlistId}
		<if test="pageNumber != null">
			<if test="perPageCount != null">
				LIMIT #{pageNumber}, #{perPageCount}
			</if>
		</if>
	</select>
</mapper>