<?xml version="1.0" encoding="UTF-8"  ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" " http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studyveloper.overtheflow.mapper.MusicMapper">
	<resultMap type="musicVO" id="musicVO">
		<result property="id" column="music_id"/>
		<result property="title" column="music_title"/>
		<result property="playTime" column="music_play_time"/>
		<result property="registerDate" column="music_register_date"/>
		<result property="description" column="music_description"/>
		<result property="visibilityFlag" column="music_visibility_flag"/>
		<result property="downloadFlag" column="music_download_flag"/>
		<result property="playCount" column="music_play_count"/>
		<result property="categoryId" column="category_id"/>
		<result property="memberId" column="member_id"/>
	</resultMap>
	
	<insert id="addMusic" parameterType="musicVO">
		INSERT INTO
			music(music_id, music_title, music_play_time, music_description, 
				  music_play_count, category_id, member_id)
		VALUES
			(#{id}, #{title}, #{playTime}, #{description}, #{playCount},
			 #{categoryId}, #{memberId});
	</insert>
	
	<delete id="deleteAllMusic">
		DELETE FROM music;
	</delete>
	
	<update id="modifyMusic" parameterType="musicVO">
		UPDATE 
			music
		SET
			music_title = #{title},
			music_play_time = #{playTime},
			music_description = #{description},
			music_download_flag = #{downloadFlag},
			music_visibility_flag = #{visibilityFlag},
			music_play_count = #{playCount},
			category_id = #{categoryId},
			member_id = #{memberId}
		WHERE
			music_id = #{id}
	</update>
	
	<delete id="deleteMusic" parameterType="String">
		DELETE FROM
			music
		WHERE
			music_id = #{id}
	</delete>
	
	<select id="getAllMusicList" resultMap="musicVO">
		SELECT * FROM music;
	</select>
	
	<select id="searchMusicByMusicId" parameterType="java.lang.String" resultMap="musicVO">
		SELECT * FROM 
			music
		WHERE
			music_id = #{id}
	</select>
	
	<select id="maxSearchMusicByMusicTitle" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM
			music
		WHERE
			music_title LIKE CONCAT('%',#{title},'%')
	</select>
	
	<select id="searchMusicByMusicTitle" parameterType="java.util.Map" resultMap="musicVO">
		SELECT * FROM
			music
		WHERE
			music_title LIKE CONCAT('%', #{title}, '%')
		LIMIT
			#{pageNumber}, #{perPageCount} 
	</select>
	
	<select id="maxSearchMusicByMemberNickname" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM
			music
		INNER JOIN
			member
		ON
			music.member_id = member.member_id
		WHERE
			member_nickname = #{nickname}
	</select>
	
	<select id="searchMusicByMemberNickname" parameterType="java.util.Map" resultMap="musicVO">
		SELECT music.*, member_nickname FROM
			music
		INNER JOIN
			member
		ON
			music.member_id = member.member_id
		WHERE
			member_nickname = #{nickname}
		LIMIT
			#{pageNumber}, #{perPageCount} 
	</select>
	
	<select id="maxSearchMusicByMemberId" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM
			music
		WHERE
			member_id = #{memberId}
	</select>
	
	<select id="searchMusicByMemberId" parameterType="java.util.Map" resultMap="musicVO">
		SELECT * FROM
			music
		WHERE
			member_id = #{memberId}
		LIMIT
			#{pageNumber}, #{perPageCount} 
	</select>
</mapper>