<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyveloper.overtheflow.mapper.PlaylistTagMapper">
	<insert id="addPlaylistTag" parameterType="PlaylistTagVO">
		INSERT INTO playlist_tag (playlist_id, playlist_tag_contents)
		VALUES (#{playlistId}, #{tag})
	</insert>
</mapper>