<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyveloper.overtheflow.mapper.PlaylistMapper">
	<resultMap type="PlaylistVO" id="result">
		<id property="id" column="playlist_id"/>
		<result property="title" column="playlist_title"/>
		<result property="description" column="playlist_description"/>
		<result property="registerDate" column="playlist_register_date"/>
		<result property="visibility" column="playlist_visibility_flag"/>
		<result property="memberId" column="member_id"/>
	</resultMap>

	<insert id="addPlaylist" parameterType="com.studyveloper.overtheflow.vo.PlaylistVO">
		INSERT INTO playlist (playlist_id, playlist_title, playlist_description, playlist_register_date, playlist_visibility_flag, member_id)
		VALUES (#{id}, #{title}, #{description}, #{registerDate}, #{visibility}, #{memberId})
	</insert>
	
	<select id="searchPlaylistById" parameterType="String" resultMap="result">
		SELECT * FROM playlist WHERE playlist_id = #{id}
	</select>
	
	<select id="searchPlaylistsByMemberId" parameterType="String" resultMap="result">
		SELECT * FROM playlist WHERE member_id = #{memberId}
	</select>
	
</mapper>