<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- Aliasing -->
	<typeAliases>
		<typeAlias alias="categoryVO" type="com.studyveloper.overtheflow.vo.CategoryVO"></typeAlias>
		<typeAlias alias = "musicVO" type="com.studyveloper.overtheflow.vo.MusicVO"/>
	</typeAliases>

	<typeHandlers>
	</typeHandlers>
</configuration>