<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- Aliasing -->
	<typeAliases>
		<typeAlias alias="PlaylistVO" type="com.studyveloper.overtheflow.vo.PlaylistVO"/>
		<typeAlias alias="CategoryVO" type="com.studyveloper.overtheflow.vo.CategoryVO"/>
		<typeAlias alias="MusicVO" type="com.studyveloper.overtheflow.vo.MusicVO"/>
		<typeAlias alias="MemberVO" type="com.studyveloper.overtheflow.vo.MemberVO"/>
		<typeAlias alias="LikeVO" type="com.studyveloper.overtheflow.vo.LikeVO"/>
		<typeAlias alias="FollowVO" type="com.studyveloper.overtheflow.vo.FollowVO"/>
		<typeAlias alias="TagVO" type="com.studyveloper.overtheflow.vo.TagVO"/>
	</typeAliases>
	<typeHandlers>
	</typeHandlers>
</configuration>