<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyveloper.overtheflow.mapper.MemberMapper">
<sql id="member">
	member_id as 'id', member_email as 'email', member_password as 'password',
	member_nickname as 'nickname', member_introduction as 'introduction', member_register_date as 'registerDate',
	member_type_id as ' typeId'
</sql>

	<insert id="registerMember" parameterType="MemberVO">
		INSERT INTO
			member
		VALUES(#{id}, #{email}, #{password}, #{nickname}, #{introduction}, #{registerDate}, #{typeId})
	</insert>
	<delete id="unregisterMember" parameterType="MemberVO" >
		DELETE FROM member
		WHERE
			member_id = #{id} AND 
			member_email = #{email} AND 
			member_password = #{password}
	</delete>
	
	<update id="modifyMember" parameterType="MemberVO" >
		UPDATE member
		SET 
			member_nickname = #{nickname},
			member_password = #{password}, 
			member_introduction = #{introduction}
		WHERE
			member_id = #{id}  
	</update>
	
	<select id="getMember" parameterType="string" resultType="MemberVO">
		SELECT
			<include refid="member"/>
		FROM 
			member
		WHERE
			member_id = #{memberId}	
	</select>
</mapper>